html {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	text-decoration: none;
	color: white;
}

#game-area{
	background: gray;
}

#main-page {
	position: absolute;
	z-index: -1;
	opacity: 0;
	width: 680;
	height: 340;
	background: #383828;
	-webkit-transition: opacity 1s;

	&.active {
		opacity: 1;
		z-index: 100;
	}
}

#restart {
	background: url('../images/restart.png') no-repeat;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 40%;
	background-size: 100%;
	left: 46%;
}

#wrapper {
	height: 340px;
	width: 680px;
	background: red;
}

#score-board {
	background: #3A382D;
	background-size: 100%;
	width: 680px;
	height: 60px;
	position: absolute;
	top: 340px;
	left: 0;
	z-index: -1;

	.score {
		text-align: right;
		color: white;
		font-size: 36px;
		padding-right: 10px;

		&::before {
			content: 'score: ';
			font-size: 46px;
		}
	}
}
